<%- include("partials/header"); %>
<div class="container-lg pt-4 pb-4">
<h1 > About the site </h1>
</div>
<div class="container-lg">
  <p>This site uses YouTubes API to search for the data. You will need an API key from Google to request data.</p>
  <p>Here is how to get: <a href="https://support.google.com/googleapi/answer/6158862?hl=en">your own API key</a></p>

</div>

<%- include("partials/footer");  %>
