<%- include("partials/header"); %>
<div class="container-lg pt-4 pb-4">
<h1 > About the site </h1>
</div>
<div class="container-lg pt-4 pb-4">
  <p>This site uses YouTubes API to search for the data. You will need an API key from Google to request data.</p>
  <p>Here is how to get: <a href="https://support.google.com/googleapi/answer/6158862?hl=en">your own API key</a></p>
  <p>Make sure that you have entered a valid API key or it will not work.</p>
  <p>A YouTube API Key has a limited usage per day. You will have to pay via YouTube API for more searches and downloads after reaching the quota</p>
  <p>The quota resets after 12.00 am</p>
  <br>
  <p>You are also able to use the API key of a different account... from a friend ;) </p>
</div>
<hr>
<div class="container-lg pt-4 pb-4">

  <p>The maximum downloaded results will be 506, because of YouTubes limits.</p>
  <p>If there is an error for any reason it will show and should be self explainatory. </p>
  <p>If an error reoccurs, please take a screenshot and send me an email via the feedback page</p>


</div>

<%- include("partials/footer");  %>
