<%- include("partials/header"); %>
<div class="container pt-5">
  <h3>Please wait a moment while we download the videos about <b><%= searchQuery %></b> this might take some time...</h1>

</div>
<%- include("partials/footer");  %>
 
