<%- include("partials/header"); %>
<form class="" action="/download" method="post">
  <button class="btn btn-primary"type="submit" name="button">DOWNLOOI</button>
</form>
<table class="table table-striped table-hover mb-6">
<thead>
  <tr>
    <th scope="col">Video Title</th>
    <th scope="col">Thumbnail</th>
    <th scope="col">Channel Title</th>
    <th scope="col">Video Description</th>
    <th scope="col">Publish date</th>
    <th scope="col">Views</th>
    <th scope="col">Likes</th>
        <th scope="col">Comments</th>
    <th scope="col">Channel Description</th>
    <th scope="col">Categories</th>
    <th scope="col">Language</th>
    <th scope="col">Tags</th>
    <th scope="col">Duration</th>
  </tr>
</thead>
<tbody>


  <tr>
    <td class="align-top"> Brian Windhorst: I am expecting Luka to take a step further next season | NBA Today </td>
    <td class="align-top"><img src="https://i.ytimg.com/vi/kFrCt6ZYE3c/hqdefault.jpg" alt="thumbnail"></td>
    <td class="align-top small-td">ESPN </td>
    <td class="align-top">Brian Windhorst is on NBA Today discussing his confidence levels in Luka Doncic. #ESPN #NBA ✔️Subscribe to ESPN+ ... </td>
    <td class="align-top small-td">2022-06-29T19:34:39Z </td>
    <td class="align-top small-td">43940</td>
    <td class="align-top small-td">436</td>
    <td class="align-top">112</td>
    <td class="align-top">hoi</td>
    <td class="align-top">https://en.wikipedia.org/wiki/Basketball,https://en.wikipedia.org/wiki/Sport</td>
    <td class="align-top small-td"></td>
    <td class="align-top">luka doncic highlights,dallas mavericks,luka doncic,NBA Today,NBA Today ESPN,ESPN NBA Today,NBA Today Full Show,nba today full show,nba today espn,nba today full,kendrick perkins,malika andrews,NBA on ESPN,ESPN NBA,nba highlights,nba reaction,nba news,Richard jefferson,Chiney Ogwumike,NBA,ESPN,luka doncic dallas mavericks,luka doncic playoffs,luka doncic jj redick,nba,luka doncic best plays,nba today luka doncic,luka doncic mavs</td>
    <td class="align-top small-td">PT1M56S</td>
  </tr>

  <tr>
    <td class="align-top"> Luka Doncic (32 points) Highlights vs. Utah Jazz </td>
    <td class="align-top"><img src="https://i.ytimg.com/vi/ZKfwytNHqsI/hqdefault.jpg" alt="thumbnail"></td>
    <td class="align-top small-td">Dallas Mavericks </td>
    <td class="align-top">Luka Doncic (32 points) Highlights vs. Utah Jazz #dallasmavericks #utahjazz #lukadoncic Join Club Maverick! Check out the ... </td>
    <td class="align-top small-td">2022-03-28T02:01:29Z </td>
    <td class="align-top small-td">52483</td>
    <td class="align-top small-td">604</td>
    <td class="align-top">83</td>
    <td class="align-top">hoi</td>
    <td class="align-top">https://en.wikipedia.org/wiki/Basketball,https://en.wikipedia.org/wiki/Sport</td>
    <td class="align-top small-td">en</td>
    <td class="align-top">Luka dončić,luka,dončić,doncic,lukadoncic,the don,luka magic,mvp,all-star,slovenia,Nba,dallas mavericks,dallas,mavericks,dallas mavs,dallasmavs,mavs,mffl</td>
    <td class="align-top small-td">PT2M57S</td>
  </tr>

  <tr>
    <td class="align-top"> Luka Doncic (37 points) Highlights vs Brooklyn Nets </td>
    <td class="align-top"><img src="https://i.ytimg.com/vi/FgNSGXQWB6Y/hqdefault.jpg" alt="thumbnail"></td>
    <td class="align-top small-td">Dallas Mavericks </td>
    <td class="align-top">Luka Doncic (37 points) Highlights vs Brooklyn Nets #LukaDoncic #DallasMavericks #BrooklynNets Join Club Maverick! </td>
    <td class="align-top small-td">2022-03-17T02:31:57Z </td>
    <td class="align-top small-td">69916</td>
    <td class="align-top small-td">1005</td>
    <td class="align-top">151</td>
    <td class="align-top">hoi</td>
    <td class="align-top">https://en.wikipedia.org/wiki/Basketball,https://en.wikipedia.org/wiki/Sport</td>
    <td class="align-top small-td">en</td>
    <td class="align-top"></td>
    <td class="align-top small-td">PT4M12S</td>
  </tr>

  <tr>
    <td class="align-top"> Luka Doncic (26 points) Highlights vs. Phoenix Suns </td>
    <td class="align-top"><img src="https://i.ytimg.com/vi/XK2TuUJcaOI/hqdefault.jpg" alt="thumbnail"></td>
    <td class="align-top small-td">Dallas Mavericks </td>
    <td class="align-top">Luka Doncic (26 points) Highlights vs. Phoenix Suns #dallasmavericks #phoenixsuns #dallasmavericks Join Club Maverick! </td>
    <td class="align-top small-td">2022-05-07T04:29:53Z </td>
    <td class="align-top small-td">68011</td>
    <td class="align-top small-td">625</td>
    <td class="align-top">111</td>
    <td class="align-top">hoi</td>
    <td class="align-top">https://en.wikipedia.org/wiki/Basketball,https://en.wikipedia.org/wiki/Sport</td>
    <td class="align-top small-td">en</td>
    <td class="align-top">Luka dončić,luka,dončić,doncic,lukadoncic,the don,luka magic,mvp,all-star,slovenia,Nba,dallas mavericks,dallas,mavericks,dallas mavs,dallasmavs,mavs,mffl</td>
    <td class="align-top small-td">PT2M51S</td>
  </tr>

  <tr>
    <td class="align-top"> Luka Doncic (35 points, 13 assists) Highlights vs. Cleveland Cavaliers </td>
    <td class="align-top"><img src="https://i.ytimg.com/vi/u1wAuZ8cdKI/hqdefault.jpg" alt="thumbnail"></td>
    <td class="align-top small-td">Dallas Mavericks </td>
    <td class="align-top">Luka Doncic (35 points, 13 assists) Highlights vs. Cleveland Cavaliers #dallasmavericks #clevelandcavaliers #dallasmavericks ... </td>
    <td class="align-top small-td">2022-03-31T01:39:23Z </td>
    <td class="align-top small-td">84391</td>
    <td class="align-top small-td">1025</td>
    <td class="align-top">211</td>
    <td class="align-top">hoi</td>
    <td class="align-top">https://en.wikipedia.org/wiki/Basketball,https://en.wikipedia.org/wiki/Sport</td>
    <td class="align-top small-td">en</td>
    <td class="align-top">Luka dončić,luka,dončić,doncic,lukadoncic,the don,luka magic,mvp,all-star,slovenia,Nba,dallas mavericks,dallas,mavericks,dallas mavs,dallasmavs,mavs,mffl</td>
    <td class="align-top small-td">PT4M31S</td>
  </tr>


</tbody>

</table>

<nav aria-label="Page navigation example">

    <ul class="pagination">
      <!-- Only clickable when its not 0 -->
      <li class="page-item"><a class="page-link" href="/">Previous</a></li>
      <!-- for size of nextToken we will load one of these -->

      <li class="page-item"><a class="page-link" href="/">Next</a></li>
    </ul>

</nav

<%- include("partials/footer");  %>
